:root{

    --primary: rgb(158, 29, 12);
    --secondary: rgb(88,86,108);
    --tertiary: rgb(180,47,30);
    --black:#000000;
    --white:#ffffff;
    --grey: #211f1f;

}

body{
    background: linear-gradient(to bottom, #000000, #000000e6, #000000d9);
    background-repeat: no-repeat;
    height: 100vh;
}

.top-section{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 5px 17px 5px 17px;
    font-size: 1rem;
}

.main-content{
    color: #9b9b9b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-inline: 10rem;
}
p{
    font-size: 2rem;
    margin-inline: 1rem;
}
a:visited {
    /* Override default styling */
    color: inherit; /* Use the same color as the parent element */
    text-decoration: none; /* Remove any underline or other decoration */
  }
  a:-webkit-any-link {
    color: inherit;
    cursor:auto;
    text-decoration: none;
  }

.scores {
    display: block;
    background-color: var(--secondary);
    color: var(--white);

}

