:root{

    --primary: rgb(158, 29, 12);
    --secondary: rgb(88,86,108);
    --tertiary: rgb(180,47,30);
    --black:#000000;
    --white:#ffffff;
    --grey: #474444;

}

.scores {
    display: block;
    background-color: var(--secondary);
    margin-right: 85rem;
    color: white;

}

